/* ==UserStyle==
@name           Discord extensions
@namespace      github.com/openstyles/stylus
@version        1.0.3
@description    Various tweaks for Discord Web
@preprocessor less
@var  checkbox  vResizeChannelList "Resizable channel list" 0
@var  checkbox  vStatusPad "Status bar padding" 1
@var  checkbox  vHideNitro "Hide Nitro-related items" 1
@var  checkbox  vHideQuests "Hide the 'Quests' button" 0
@var  checkbox  vHideApps "Hide the 'Apps' button" 0
@var  checkbox  vHideStickers "Hide the 'Stickers' button" 0
@var  checkbox  vHideGIFs "Hide the 'GIFs' button" 0
@var  checkbox  vHideGames "Hide the 'Games/Apps' button" 0
@var  checkbox  vHideUncommonMsgCtx "Hide the uncommon message menu items" 1
@var  checkbox  vHideDiscovery "Hide the 'Server discovery' button" 1
@var  checkbox  vHideDownloadApps "Hide the 'Download apps' button" 0
@var  checkbox  vEnlargeEmojiPopup "Big emojis in popups" 1
@var  checkbox  vBigEmojiPicker "Big emoji picker" 1
@var  checkbox  vTinyGifOverlays "Tiny GIF overlay" 0
@author         YellowAfterlife
==/UserStyle== */

@-moz-document domain("discord.com") {
    #app-mount { --font-display: system-ui; }
    /* statusbar padding */
    html when(@vStatusPad = 1) {
        form[class^="form-"],
        section[class^="panels"][aria-label^="User"] {
            border-bottom: solid 1.25em var(--background-secondary-alt);
        }
    }
    
    html when(@vResizeChannelList = 1) {
        div[class^="content"] > div[class^="sidebar"] {
            resize: horizontal;
            > section[class^="panels"] div[class^="avatarWrapper"] {
                min-width: 40px;
            }
        }
    }
    
    html when(@vHideNitro = 1) {
        form[class^="form"] div[class^="channelTextArea"] div[class^="buttons"] {
            button[aria-label="Send a gift"],
            div[role="button"][aria-label="Send a gift"] {
                display: none;
            }
        }
        
        div[aria-label="Add Super Reaction"][class^="button"] {
            display: none;
        }
        div[id^="message-reactions"] > div[aria-label="Add Super Reaction"] {
            display: none;
        }
        ul[aria-label="Direct Messages"] {
            > div > li > div,
            > li > div {
                > a[href="/store"],
                > a[href="/shop"] {
                    display: none;
                }
            }
        }
        
        #message-actions div[class^="item"][class*="colorPremium"],
        #message div[class^="item"][class*="colorPremium"] {
            display: none;
        }
    }
    html when(@vHideQuests = 1) {
        ul[aria-label="Direct Messages"] {
            > div > li > div,
            > li > div {
                > a[href="/quest-home"] {
                    display: none;
                }
            }
        }
    }
    html when(@vHideApps = 1) {
        div[class^="channelAppLauncher"] {
            display: none;
        }
    }
    html when(@vHideGIFs = 1) {
        button[aria-label="Open GIF picker"],
        div[role="button"][aria-label="Open GIF picker"] {
            display: none;
        }
    }
    html when(@vHideStickers = 1) {
        button[aria-label="Open sticker picker"],
        div[role="button"][aria-label="Open sticker picker"] {
            display: none;
        }
    }
    html when(@vHideGames = 1) {
        button[aria-label="Apps"] {
            display: none;
        }
    }
    
    html when(@vHideUncommonMsgCtx = 1) {
        #message-actions #message-actions-mark-unread,
        #message #message-mark-unread,
        #message-actions #message-actions-tts,
        #message #message-tts {
            display: none;
        }
    }
    
    html when(@vHideDiscovery = 1) {
        div[class^="unreadMentionsIndicatorTop"] ~ ul {
            div[class^="tutorialContainer"] + div {
                display: none;
            }
        }
    }
    
    html when(@vHideDownloadApps = 1) {
        div[class^="unreadMentionsIndicatorTop"] ~ ul {
            div[class^="tutorialContainer"] + div + div {
                display: none;
            }
        }
    }
    
    :root when(@vBigEmojiPicker = 1) {
        --custom-emoji-picker-constants-emoji-picker-height: calc(100vh - 130px);
    }
    html when(@vBigEmojiPicker = 1) {
        section[aria-label="Expression Picker"] {
            height: calc(100vh - 130px);
        }
    }
    
    html when(@vTinyGifOverlays = 1) {
        div[class^="imageAccessory"] {
            top: 2px;
            left: 2px;
            transform: scale(0.5);
            transform-origin: top left;
        }
    }
    
    /* fix pure-white names unreadable in light theme */
    html.theme-light span[role="button"][class^="username"][style="color: rgb(255, 255, 255);"],
    html.theme-light span[role="button"][tabindex="-1"][class^="roleMention"][style^="color: rgb(255, 255, 255)"] {
        color: black!important;
    }
    div[class^="emojiSection"] > div[class^="flex"] > img[class^="emoji"] {
        width: 128px!important;
        height: 128px!important;
    }
    div[class^="emojiSection"] > div[class^="flex"] > img[class^="emoji"] + div {
        width: 100px;
    }
}